:root {
  --main-color: #272a31;
  --primary-color: #ec5242;
  --secondary-color: #d3d3d3;
  --font-familly: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-familly);
}

/* Navigation bar */

.nav-bar {
  padding: 1rem;
  background: rgb(240, 240, 240);
}

/* Introduction section */

.introduction {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgb(240, 240, 240);
}

.intro-1 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.introduction h1 {
  background: url(image/Beautiful-Natural-Sunrise-with-Orange-Background-HD-Wallpaper.jpg);
  background-size: cover;
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.introduction h3 {
  color: var(--main-color);
  font-size: 1.4rem;
  font-weight: 800;
}

.intro-2 {
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--main-color);
  border: 2px solid white;
  padding: 1rem;
}

.intro-3 {
  font-size: 1.2rem;
}

/* Programs */

.programs {
  padding: 2rem 1rem;
  background: url(image/HD-wallpaper-black-floral-background-black-backgrounds-vintage-floral-pattern-black-vintage-background-floral-patterns-black-damask-pattern-gray-retro-backgrounds-floral-vintage-pattern-vintage-backgrounds.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  gap: 1rem;
}

.line {
  background-color: var(--primary-color);
  width: 100px;
  height: 5px;
  margin: 1rem auto;
}

.programs h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.program {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  background-color: rgba(99, 99, 99, 0.645);
  padding: 0.5rem;
}

.program-icon {
  width: 150px;
}

.program-icon img {
  width: 100%;
}

.program-title {
  color: var(--primary-color);
  font-weight: bold;
  width: 30rem;
}

.program p {
  color: white;
}

.Program-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
}
